

/* Notas Fiscais */
.notasFiscais{
  max-width: 650px;
  max-height: 300px;
}
.notasFiscais-card {
  max-width: 150px;
  min-height: 180px;
}

.informa{
  color: var(--laranja);
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.card-title{
  padding-left: 2px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.text-info{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}
/* Notas Fiscais Vencidas */
.notasFiscaisVencidas {
  max-width: auto;
  min-height: 50px;
}

/* Receitas Recebidas */
.tabelaReceitas {
  color: var(--bs-white);
}
.barra {
  margin-bottom: -20px;
  height: 10px;
}
.progress1 {
  width: 100%;
  padding: 0;
}
.progress2 {
  width: 100%;
}

.progress3 {
  width: 100%;
}
.progress4 {
  width: 100%;
}
.porcentagem01{
  background-color: rgba(255, 102, 0, 0.12);
  width: 38px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--laranja);
  color: var(--laranja);
}
.porcentagem02 {
  background-color: rgba(169, 223, 216, 0.12);
  width: 38px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--bs-info);
  color: var(--bs-info);
}
.porcentagem03 {
  background-color: rgba(40, 174, 243, 0.12);
  width: 38px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--bs-info);
  color: var(--bs-info);
}
.porcentagem04 {
  background-color: rgba(242, 200, 237, 0.12);
  width: 38px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid var(--bs-danger);
  color: var(--bs-danger);
}
tbody, td, tr, table {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
table {
  padding: 0;
}
td {
  padding: 0;
}
tr {
  padding: 0;
}
th {
  padding: 0;
}
/* Receita recebida  */
.content-area {
  max-width: 1080px;
  margin:0 auto;
}
.box .apexcharts-xaxistooltip {
  background-color: #000;
  color: #fff;
}
.box {
  background-color: #000;
  padding: 1rem;
  border-radius: 4px; 
}
.columnbox {
  padding-right: 5px;
}
.receitaRecebida {
  max-width: 650px;
  max-height: 300px;
  margin: 4px;
}
/* Notas Vencidas  */
.notasVencidas {
  max-width: 650px;
  max-height: 300px;
  margin: 4px;
}
.notasVencidas-titulo {
  color: var(--bs-white);
  font-size: 16px;
}
.notasVencidas-subtitulo {
color: var(--cinza1);
font-size: 14px;
}

/* Relatorio mensal, trimestral e anual */

#wrapper {
  position: relative;
  background: #000;
  border: 1px solid #000;
  box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
  max-width: 650px;
  margin: 0 auto;
}

#chart-bar {
  position: relative;
  margin-top: -38px;
}

.relatorio {
  max-width: 650px;
  max-height: 300px;
  margin: 4px;
}